@model IEnumerable<PhotographyPortfolioApp.ViewModels.RoleDetailsVM>

@{
    ViewBag.Title = "List";
}

<h2>Role</h2>
<p>
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @style = "border: white 1px solid; margin-top: 10px", @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @style = "border: white 1px solid; margin-top: 10px", @class = "btn btn-default" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @style = "border: white 1px solid; margin-top: 10px", @class = "btn btn-default" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @style = "border: white 1px solid; margin-top: 10px", @class = "btn btn-default" }) |
            </td>
        </tr>
    }
</table>

