@using PhotographyPortfolioApp.MVC.Controllers
@using PhotographyPortfolioApp.Shared.Extentions

@model PhotographyPortfolioApp.ViewModels.PhotoEditVM

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pixels, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pixels)
                @Html.ValidationMessageFor(model => model.Pixels)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhotoArray, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhotoArray)
                @Html.ValidationMessageFor(model => model.PhotoArray)
            </div>
        </div>

        

        <div class="form-group">
            @Html.LabelFor(model => model.UserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.UserId, Model.UserList, "Choose a user...",
                         new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>

        


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />

            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "List")
</div>
