@model IEnumerable<PhotographyPortfolioApp.ViewModels.PhotoDetailsVM>

@{
    ViewBag.Title = "List";
}

<h2>Photo</h2>
<p>
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @style = "border: white 1px solid; margin-top: 10px", @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pixels)
        </th>
        
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="data:image;base64,@System.Convert.ToBase64String(item.PhotoArray)" style="width: 70px; height: 70px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pixels)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @style = "border: white 1px solid; margin-top: 10px", @class = "btn btn-default" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @style = "border: white 1px solid; margin-top: 10px", @class = "btn btn-default" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @style = "border: white 1px solid; margin-top: 10px", @class = "btn btn-default" }) |  
            </td>
        </tr>
    }
</table>
