@model PhotographyPortfolioApp.ViewModels.UserDetailsVM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Products</h4>

    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UploadedPhotos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UploadedPhotos.Count)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Galleries)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Galleries.Count)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RoleId)
            </dt>
            <dd>
                @Html.ActionLink("Role Details", "Details", "Role", new { id = Model.RoleId })
            </dd>
            

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">

                <input type="submit" value="Delete" class="btn btn-default" style="border: white 1px solid; margin-top: 10px " />
                @Html.ActionLink("Back to List", "List", null, htmlAttributes: new { @style = "border: white 1px solid; margin-top: 10px", @class = "btn btn-default" })))
            </div>
        }
    </div>
